body {
    margin: 0;
    font-family: 'Heebo', sans-serif;
    padding: 80px 0 0 0;
}

.container {
    width: 1440px;
    max-width: 90%;
    margin: auto;
    padding: 0 16px;
}



header {
    height: 80px;
    background-color: #FFF;
    box-shadow: 0 1px 6px 0 rgba(0,0,0,0.15);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1;

}

header .container {
    align-items: center;
    display: flex;
    justify-content: space-between;
    height: 100%;
}

header .logo {
    display: inline-block;
    font-size: 27px;
}

header .logo a {
    text-decoration: none;
    color: black;
}

header .logo .blueDot {
    background-color: #3E50E5;
    width: 10px;
    height: 10px;
    display: inline-block;
    vertical-align: middle;
    border-radius: 5px;
    margin: 0 4px;
}

header nav {
    display: inline-block;
}

ul {
    margin: 0;
    padding: 0;
}

header nav ul li {
    display: inline-block;
}

header nav ul li a:hover {
    color: #3e50e5;
}

header nav ul li a {
    color: #3E3E3E;
    font-size: 15px;
    letter-spacing: 0.37px;
    margin-right: 24px;
    text-decoration: none;
}

header nav ul li.menu-icon {
    display: none;
}

header nav ul li.menu-icon img {
    width: 20px;
    height: 11px;
    vertical-align: middle;
}

header nav ul li:last-of-type a{
    margin-right: 0;
}

section.hero {
    position: relative;
}

section.hero img {
    width: 100%;
    height: auto;
    box-sizing: border-box;
}

section.hero {
    position: relative;
}

.hero-content {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 0;
}

.hero-content .container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
}

.hero-content h1 {
    max-width: 495px;
    color: #FFF;
    font-family: Heebo;
    font-size: 50px;
    letter-spacing: 1.25px;
    line-height: 56px;
    margin: 16px;
    margin-top: 0;
    margin-bottom: 16px;
    font-weight: normal;
}

.hero-content p {
    max-width: 518px;
    color: #FFF;
    font-weight: 300;
    font-size: 20px;
    letter-spacing: 0.5px;
    line-height: 28px;
    margin-top: 0;
    margin-bottom: 21px;
}

.hero-content button {
    height: 50px;
    width: 220px;
    max-width: 100%;
    border-radius: 92px;
    background-color: #3E50E5;
    color: #FFF;
    font-weight: 700;
    font-size: 16px;
    font-weight: 700;
    letter-spacing: 0.4px;
    line-height: 24px;
    text-align: center;
    border: none;
    text-transform: uppercase;
    cursor: pointer;
}

.hero-content button:hover {
    background-color: #FFF;
    color:  #3E50E5;
    border: 1px solid #3E50E5;
}

    section.best-sellers {
        padding-top: 80px;
    }
    
section.best-sellers h2 {
    text-align: center;
    font-size: 34px;
    letter-spacing: 0.85px;
    line-height: 42px;
    font-weight: normal;
    margin: 0 0 14px 0;
}

section.best-sellers hr {
    border: none;
    border: 6px solid #67F11D;
    width: 66px;
}

section.best-sellers .product-slider {
    margin-top: 76px;
}

section.best-sellers .product-slider .product.new::before {
    content: "New";
    position: absolute;
    top: 12px;
    right: 12px;
    color: #FFF;
    font-size: 14px;
    font-weight: 700;
    letter-spacing: 0.35px;
    line-height: 21px;
    text-align: center;
    padding: 4px 15px;
    border-radius: 40px;
    background-color: #EC1C1C;
}

section.best-sellers .product-slider .product {
    border-radius: 8px;
    border: 1px solid #DDD;
    width: 33%;
    text-align: center;
    margin: 0 8px;
    padding: 40px;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    cursor: pointer;
}


section.best-sellers .product-slider .product img {
    max-width: 100%;
}

section.best-sellers .container {
    display: flex;
    justify-content: space-between;
    padding: 0 8px;
}

section.best-sellers .product-slider .product-info {
    margin-top: 50px;
}

section.best-sellers .product-slider .product-info .categories {
    color: #3E50E5;
    font-weight: normal;
    font-size: 14px;
    letter-spacing: 0.35px;
    line-height: 30px;
    margin-bottom: 8px;
    margin-top: 0;
}

section.best-sellers .product-slider .product-info .title {
    font-size: 20px;
    letter-spacing: 0.5px;
    line-height: 26px;
    margin-bottom: 6px;
    font-weight: normal;
    margin-top: 0;
}

section.best-sellers .product-slider .product-info .price {
    font-weight: bold;
    font-size: 14px;
    letter-spacing: 0.7px;
    line-height: 30px;
    margin-bottom: 16px;
    margin-top: 0;
}

section.best-sellers .product-slider .product-info .price .discounted-price{
    color: #EC1C1C;
    font-size: 28px;
    font-weight: 700;
    letter-spacing: 0.7px;
    line-height: 30px;
}

section.best-sellers .product-slider .product-info .price .original-price{
    color: #9B9B9B;
    font-weight: normal;
    font-size: 16px;
    letter-spacing: 0.4px;
    line-height: 30px;
    text-decoration: line-through;
}


section.best-sellers .product-slider .product-info button {
    height: 50px;
    width: 219.5px;
    height: 50px;
    background-color: #FFF;
    border: 1px solid #000;
    border-radius: 220px;
    font-size: 16px;
    font-weight: 700;
    letter-spacing: 0.4px;
    line-height: 24px;
    text-transform: uppercase;
    cursor: pointer;

}

section.best-sellers .product-slider .product:hover .product-info button {
    background-color: blue;
    color: white;
    border: 1px solid blue;

}

section.newsletter {
    background-color: rgba(200,200,200,0.18);
    max-width: 995px;
    margin: auto;
    text-align: center;
    padding: 72px 0;
    margin: 80px auto;
}

section.newsletter h3 {
    font-weight: normal;
    font-size: 24px;
    letter-spacing: 0.6px;
    line-height: 42px;
    margin-top: 0;
    margin-bottom: 10px;
}
section.newsletter p {
    font-size: 16px;
    letter-spacing: 0.4px;
    line-height: 42px;
    margin-top: 0;
    margin-bottom: 20px;
}

section.newsletter form {
    display: flex;
    justify-content: center;
}

section.newsletter form input {
    height: 50px;
    width: 326px;
    max-width: 80%;
    box-sizing: border-box;
    border-radius: 60px 0 0 60px;
    border: 1px solid #3E3E3E;
    color: #3E3E3E;
    font-size: 14px;
    letter-spacing: 0.35px;
    line-height: 21px;
    padding-left: 22px;
    border-right: none;
}

section.newsletter form button {
    height: 50px;
    width: 145px;
    max-width: 20%;
    box-sizing: border-box;
    border-radius: 0 60px 60px 0;
    background-color: #3E50E5;
    color: #FFF;
    font-size: 14px;
    letter-spacing: 0.35px;
    line-height: 21px;
    text-transform: uppercase;
    cursor: pointer;
}

section.newsletter form button:hover {
    background-color: white;
    border: 1px solid #3E50E5;
    color: #3E50E5;
}



footer .bottom-nav {
    color: #FFF;
    padding: 60px 0;
    background-color: #3E3E3E;
    
}

footer .copyright-text {
    background-color: #2B2B2B;
    color: white;
    display: flex;
    justify-content: center;
    font-size: 16px;
    letter-spacing: 0.4px;
    line-height: 22px;
    text-align: center;
}

footer .bottom-nav .container {
    max-width: 90%;
    display: flex;
    justify-content: space-between;
}

footer .bottom-nav ul li.list-title {
    margin-top: 0;
    margin-bottom: 20px;
    color: white;
    font-size: 20px;
    font-weight: 700;
    letter-spacing: 0.5px;
    line-height: 26px
}

footer .bottom-nav ul li a {
    color: #E0E0E0;
    font-size: 16px;
    letter-spacing: 0.4px;
    line-height: 22px;
    margin-bottom: 10px;
    margin-top: 0;
    text-decoration: none;
    display: block;
}

footer .bottom-nav ul li a:hover {
    color: #3E50E5;
}

footer .bottom-nav ul {
    list-style: none;
}

/*****CSS MEDIA QUERIES*****/

/*Design for small desktop*/
@media screen and (max-width: 1440px) {

    .container {
        width: 1180px;
        max-width: 90%;
    }
    body {
        padding-top: 70px;
    }
    header {
        height: 70px;
    }

    .hero-content h1 {
        font-size: 44px;
        letter-spacing: 1.1px;
        line-height: 50px;
        margin: 12px;
    }
    
    .hero-content p {
        font-size: 18px;
        letter-spacing: 0.45px;
        line-height: 26px;
        margin-bottom: 12px;
    }
    
    .hero-content button {
        font-size: 14px;
        letter-spacing: 0.35px;
        line-height: 21px;
    }
}

/*Design for tablet*/
@media screen and (max-width: 960px) {

     .container {
        max-width: 92%;
        
    }

    header .logo {
        font-size: 24px;
    }

    header nav ul li {
        display: none;
    }

    header nav ul li.menu-icon {
        display: inline-block;
    }

    header nav ul li.menu-icon img {
        width: 20px;
        height: auto;
    }

    .hero-content h1 {
        font-size: 44px;
        letter-spacing: 1.1px;
        line-height: 50px;
        margin: 12px;
    }
    
    .hero-content p {
        font-size: 16px;
        letter-spacing: 0.4px;
        line-height: 24px;
    }
    
    .hero-content button {
        font-size: 14px;
        letter-spacing: 0.35px;
        line-height: 21px;
        width: 196px;
    }

    section.best-sellers .product-slider .product {
        min-width: 220px;
        margin: 17px 8px;
    }

    section.best-sellers .container {
        justify-content: center;
        flex-wrap: wrap;
    }
}

/*Design for mobile*/
@media screen and (max-width: 576px) {


    header .logo {
        font-size: 18px;
    }

    header .logo .blueDot {
        width: 7px;
        height: 7px;
    }

    header nav ul li.menu-icon img {
        width: 20px;
        height: auto;
    }

    .hero-content {
        position: static;
    }

    .hero-content h1 {
        color: black;
        font-size: 32px;
        letter-spacing: 0.8px;
        line-height: 38px;
        margin-bottom: 32px;
        text-align: center;
        margin-top: 27px;
    }
    
    .hero-content p {
        display: none;
    }
    
    .hero-content button {
        font-size: 14px;
        letter-spacing: 0.35px;
        line-height: 21px;
        width: 196px;
        margin: auto;
    }

    section.best-sellers .product-slider .product {
        width: 82%;
        max-width: 360px;     
    }

    section.newsletter form input {
        max-width: 65%;
    }
    
    section.newsletter form button {
        max-width: 35%;
    }

    section.newsletter {
        padding: 44px 0;
        margin: 60px auto;
    }

    footer .bottom-nav .container {
        flex-direction: column;
        align-items: center;    
    }

    footer .bottom-nav ul {
        text-align: center;
        margin-bottom: 32px;
    }

    footer .bottom-nav ul:last-of-type {
        margin-bottom: 0;
    }
}